 .header {
    display: flex;
    width: 100vmin;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
 }

 #headerTitle {
     background: black;
     color: white;
     width: 100vmin;
     flex-grow: 1;
     text-align: center;
 }

 .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    width: 100vmin;
    margin: auto;
    margin-top: 10vmin;
    margin-bottom: 10vmin;
 }
  
  .card {
    margin: 1.5vmin;
    text-align: center;
    height: 30vmin;
    width: 30vmin;
    background-color: rgba(155, 145, 145, 0.541);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    border-radius: 5px;
}

  .card:hover {
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.8);
  }

#newBook, #resetBooks {
  background-color: orangered;
  color: white;
  font-weight: bold;
  padding: 0.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.8;
  text-align: center;
  width: 7rem;
  height: 3rem;
  margin: 1rem;
}


.form-popup {
   display: none;
   position: fixed;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   border: 3px solid #f1f1f1;
   z-index: 9;
}


.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}


.form-container input[type=text], .form-container input[type=number] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}


.form-container input[type=text]:focus, .form-container input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}


.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  font-size: 16px;
  color: #fff;
  background-color: red;
  border: none;
  padding: 5px;
}


.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.removeButton,
.readStatusBtn {
  background-color: fuchsia;
  color: #000;
  width: 5rem;
  height: 3rem;
  border: none;
  border-radius: 10px;
  transition-duration: 0.4s;
  margin: 0.5rem;
}



.removeButton:hover {
  background-color: rgba(151, 23, 23, 0.733);
  color: white;
}

.readStatusBtn:hover {
  background-color: rgba(151, 23, 23, 0.733);
  color: white;
}