body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-width: 500px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	background: #ffe4cf;
	overflow: hidden;
}

/*remove all scroll bars*/
::-webkit-scrollbar {
    display: none;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.page-wrapper>header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 4rem;
	background-color: #885188;
	color: #ffbaff;
	text-shadow: 4px 0px 2px rgba(0, 0, 0, 0.5);
}

.page-wrapper>header button {
	border-radius: 10px;
	margin-left: 10px;
	background-color: orangered;
	color: white;
}

.header-buttons {
	margin-right: 4rem;
}

header>h1{
	margin-left: 4rem;
	font-size: 2.5rem;
	padding: 4px;
	border-bottom: 1px solid rgb(255, 167, 0);
}

form {
	display: none;
	z-index: 10;
	width: 20rem;
	height: 15rem;
	padding: 2rem;
	margin-top: 2rem;
	border-radius: 10px;
	font-weight: bold;
	text-shadow: 0px 1px 1px rgba(0, 0, 0);
	background-color: rgba(247, 137, 48, 0.9);
	color: rgb(136, 2, 136);
}

#form-input-fields,
#form-option-fields,
#buttons {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

#form-input-fields input {
	margin-left: 1rem;
}

#form-input-fields #form-title,
#form-input-fields #form-pages {
	margin-left: 2rem;
}

#form-input-fields #form-title {
	margin-left: 2.4rem;
}

/*isRead flip toggle animation styling*/
.tgl {
	display: none;

	&,
	&:after,
	&:before,
	& *,
	& *:after,
	& *:before,
	&+.tgl-btn {
		box-sizing: border-box;

		&::selection {
			background: none;
		}
	}

	+.tgl-btn {
		outline: 0;
		display: block;
		width: 4em;
		height: 2em;
		position: relative;
		cursor: pointer;
		user-select: none;

		&:after,
		&:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}

		&:after {
			left: 0;
		}

		&:before {
			display: none;
		}
	}

	&:checked+.tgl-btn:after {
		left: 50%;
	}
}

.tgl-flip {
	+.tgl-btn {
		padding: 2px;
		transition: all .2s ease;
		font-family: sans-serif;
		perspective: 100px;

		&:after,
		&:before {
			display: inline-block;
			transition: all .4s ease;
			width: 100%;
			text-align: center;
			position: absolute;
			line-height: 2em;
			font-weight: bold;
			color: #fff;
			position: absolute;
			top: 0;
			left: 0;
			backface-visibility: hidden;
			border-radius: 4px;
		}

		&:after {
			content: attr(data-tg-on);
			background: #02C66F;
			transform: rotateY(-180deg);
		}

		&:before {
			background: #FF3A19;
			content: attr(data-tg-off);
		}

		&:active:before {
			transform: rotateY(-20deg);
		}
	}

	&:checked+.tgl-btn {
		&:before {
			transform: rotateY(180deg);
		}

		&:after {
			transform: rotateY(0);
			left: 0;
			background: #02c66f;
		}

		&:active:after {
			transform: rotateY(20deg);
		}
	}
}

/*end of isRead flip toggle animation styling*/

/*lip toggle checkbox*/
.isRead {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin: 1rem 0px;
}

.isRead>p {
	text-align: center;
}

/*card container*/
.book-cards {
	display: flex;
	gap: 15px;
	justify-content: center;
	flex-wrap: wrap;
	position: absolute;
	top: 5rem;
	padding: 1rem 2rem 2rem 2rem;
	height: 500px;
	width: 700px;
	border-top: 2px solid #02C66F;
	border-bottom: 2px solid #02c66f;
	border-radius: 10px;
	overflow-y: scroll;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4);
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	letter-spacing: 0.6px;
	font-size: 15px;
	height: 250px;
	width: 250px;
	padding-left: 20px;
	border-radius: 20px;
	background-color: blueviolet;
	text-shadow: 0px 1px 1px rgba(0, 0, 0);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

/*form buttons*/
button {
	outline: none !important;
	border: none;
	height: 2rem;
	transition: 0.5s;
	text-shadow: 0px 1px 1px rgba(0, 0, 0);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
	font-weight: bold;
}

button#push {
	margin-bottom: -0.3rem;
}

button#push:hover {
	background-color: green;
}

button#cancel:hover {
	background-color: red;
}

button#push:hover,
button#cancel:hover {
	border-radius: 10px;
	transform: translateY(-4px);
	color: #fff;
}

.card-btn-wrap {
	display: flex;
	gap: 5px;
	align-self: center;
	margin: 20px 0px -10px -22px;
}

.card-btn-wrap>button {
	border-radius: 7px;
	width: 6rem;
	background-color: #ff00ff;
	color: white;
	letter-spacing: 1px;
	text-shadow: 4px 0px 2px rgba(0, 0, 0, 0.5);
}

.new-book-btn:hover,
.clear-all-btn:hover,
.card-btn-wrap>button:hover {
	transform: translateY(-4px);
	transition: 0.2s;
}